<ul class="blank-list" data-module="ui/Scroller" data-options='{"paging":true,"controls":true}'>
    <li>
        <figure>
            <img src="http://www.dummyimage.com/600x300" alt="" />
            <figcaption>Lorem ipsum dolor sit amet.</figcaption>
        </figure>
    </li><!--
    --><li>
    <figure>
        <img src="http://www.dummyimage.com/600x300" alt="" />
        <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
</li><!--
    --><li>
    <figure>
        <img src="http://www.dummyimage.com/600x300" alt="" />
        <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
</li><!--
    --><li>
    <figure>
        <img src="http://www.dummyimage.com/600x300" alt="" />
        <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
</li><!--
    --><li>
    <figure>
        <img src="http://www.dummyimage.com/600x300" alt="" />
        <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
</li><!--
    --><li>
    <figure>
        <img src="http://www.dummyimage.com/600x300" alt="" />
        <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
</li>
</ul>
