/* Colors
----------------------------------------*/

$color-primary:red; /* red */
$color-secondary:green; /* green */
$color-tertiary:blue;

$color-black:#000000;
$color-white:#FFFFFF;

$color-alpha:#000000;
$color-beta:#666666;
$color-gamma:#B2B2B2;
$color-delta:#E5E5E5;
$color-epsilon:#F2F2F2;
$color-zeta:#FFFFFF;